.card {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  font-family: "Poppins", sans-serif;
  border: 4px solid;
}


.photo {
  width: 120px;
  height: 120px;
  background: #cfeec7;
  border-radius: 50%;
  border: 4px solid #8bc34a;
  margin: 0 auto 10px;
}


.tulus {
  color: #000000;
  margin-bottom: 4px;
  text-align: center;
}


.impian {
  font-weight: 600;
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.deskripsi {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.btn {
  border-radius: 10px;
  align-content: center;
}