body {
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}
.card {
    padding: 10px;
    width: 400px;
}
.card img {
    width: 100%;
    height: auto;
}
.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-1 {
    font-size: 16px;
    margin: 0;
}
       
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}
.card img {
    justify-content: center;
    width: 100%;
    height: auto;
}
.h1 {
    font-size: 16px;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        }
}